[2020-03-19 11:41] gundalow opened #1 "CI for rabbitmq"
Hi,
Have you thought about CI for rabbitmq?

Collections built around using APIs instead of local resources tend to only need testing on different Python versions, not distros. Examples would include the AWS and VMware collections.

Those using local resources should be tested on different platforms/versions: Examples would include Windows and crypto collections.
For the former, the default test c

[2020-03-29 14:04] #1 closed

[2020-03-29 14:05] odyssey4me opened #3 "Add code coverage testing"
##### SUMMARY

Currently there is no code coverage testing. We should add it, and require that all PR's include testing for anything they add.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:06] odyssey4me opened #4 "Add unit testing for plugins/modules/rabbitmq_binding.py"
##### SUMMARY

There is no unit testing for this module. Add unit testing to ensure that the module behaves consistently with all changes made to it. Try to add some negative testing too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:07] odyssey4me opened #5 "Add unit testing for plugins/modules/rabbitmq_exchange.py"
##### SUMMARY

There is no unit testing for this module. Add unit testing to ensure that the module behaves consistently with all changes made to it. Try to add some negative testing too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:08] odyssey4me opened #6 "Add unit testing for plugins/modules/rabbitmq_global_parameter.py"
##### SUMMARY

There is no unit testing for this module. Add unit testing to ensure that the module behaves consistently with all changes made to it. Try to add some negative testing too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:08] odyssey4me opened #7 "Add unit testing for plugins/modules/rabbitmq_parameter.py"
##### SUMMARY

There is no unit testing for this module. Add unit testing to ensure that the module behaves consistently with all changes made to it. Try to add some negative testing too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:09] odyssey4me opened #8 "Add unit testing for plugins/modules/rabbitmq_plugin.py"
##### SUMMARY

There is no unit testing for this module. Add unit testing to ensure that the module behaves consistently with all changes made to it. Try to add some negative testing too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:10] odyssey4me opened #9 "Add unit testing for plugins/modules/rabbitmq_policy.py"
##### SUMMARY

There is no unit testing for this module. Add unit testing to ensure that the module behaves consistently with all changes made to it. Try to add some negative testing too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:10] odyssey4me opened #10 "Add unit testing for plugins/modules/rabbitmq_publish.py"
##### SUMMARY

There is no unit testing for this module. Add unit testing to ensure that the module behaves consistently with all changes made to it. Try to add some negative testing too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:11] odyssey4me opened #11 "Add unit testing for plugins/modules/rabbitmq_queue.py"
##### SUMMARY

There is no unit testing for this module. Add unit testing to ensure that the module behaves consistently with all changes made to it. Try to add some negative testing too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:12] odyssey4me opened #12 "Add unit testing for plugins/modules/rabbitmq_vhost.py"
##### SUMMARY

There is no unit testing for this module. Add unit testing to ensure that the module behaves consistently with all changes made to it. Try to add some negative testing too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:12] odyssey4me opened #13 "Add unit testing for plugins/modules/rabbitmq_vhost_limits.py"
##### SUMMARY

There is no unit testing for this module. Add unit testing to ensure that the module behaves consistently with all changes made to it. Try to add some negative testing too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:13] odyssey4me opened #14 "Add unit testing for plugins/lookup/rabbitmq.py"
##### SUMMARY

There is no unit testing for this lookup. Add unit testing to ensure that the lookup behaves consistently with all changes made to it. Try to add some negative testing too.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:14] odyssey4me opened #15 "Switch testing back to ansible/ansible devel"
##### SUMMARY

Once https://github.com/ansible/ansible/issues/68530 is fixed, switch testing back to using ansible/ansible's devel branch.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:15] odyssey4me opened #16 "Implement a test matrix to include testing against all currently supported ansible versions"
##### SUMMARY

The integration tests currently only test against ansible devel. Increase the matrix to include all currently supported versions of ansible.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:15] odyssey4me opened #17 "Implement changes to test script to allow local testing"
##### SUMMARY

The current test script do not allow local testing. Implement changes to allow local testing easily and add documentation for how to use it.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:16] odyssey4me opened #18 "Document standards for developers"
##### SUMMARY

There is no documentation for what is required when developing modules, plugins, etc. Add some documentation.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:16] odyssey4me opened #19 "Document how to use the collection"
##### SUMMARY

Add documentation for users.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:17] odyssey4me opened #20 "Add collection build test"
##### SUMMARY

As part of the testing for the collection, we should verify that it builds correctly. This should be a distinct test.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:17] odyssey4me opened #21 "Add automated collection publishing"
##### SUMMARY

We should automate the publishing of a collection to ansible galaxy.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-03-29 14:18] odyssey4me opened #22 "Add documentation publishing"
##### SUMMARY

Documentation should be automatically published.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-04-08 15:30] jctanner opened #23 "Missing galaxy.yml"
##### SUMMARY
This repository needs a galaxy.yml file so that ansible-galaxy and other consumers can enumerate the namespace and the name.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
galaxy.yml

[2020-04-14 11:04] #23 closed

[2020-04-14 11:04] odyssey4me opened #26 "Add changelog publishing"
##### SUMMARY

In https://github.com/ansible-collections/overview/issues/18 there is some debate about how collections should publish changelogs. This collection currently has no changelog, so we need to create one using one of the many available methods and publish it.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-04-14 16:07] #19 closed

[2020-04-14 17:11] #15 closed

[2020-04-20 10:43] gundalow opened #30 "Rename repo to community.rabbitmq"
##### SUMMARY
Hi,
To be more consistent with the other repos https://github.com/ansible-collections/ I'd like to rename this GitHub Repo to be `community.rabbitmq`

* Old URLs for issues and PRs will still work
* Old git URLs will work, though it will be good to update them locally
* We will need to update the URLs in `galaxy.yml`

Are you happy with this?
##### ISSUE TYPE
- Bug Report

[2020-04-20 11:25] odyssey4me commented on #30
That's fine with me. I thought this might happen at some point, so better now than later.

[2020-04-20 17:11] odyssey4me commented on #30
Resolved-by: https://github.com/ansible-collections/community.rabbitmq/pull/31

[2020-04-20 17:11] #30 closed

[2020-05-12 08:11] seki98 opened #32 "Do not append -n 'rabbit' parameter by default to rabbitmq_user module invocation"
##### SUMMARY
As also reported and fixed in https://github.com/ansible/ansible-modules-extras/pull/1417/commits/3013f059616a7d018c9794be076217c9fa2bd206 the rabbitmq_user module adds -n parameter by default with a default value "rabbit":

The latest stable version line of code responsible for the "bug":
https://github.com/ansible/ansible/blame/ff7bbbcaf1e8f434432075bc9c55626a9dd3091d/lib/ansible/m

[2020-06-23 17:13] NielsH opened #34 "[rabbitmq_user] permissions: with multiple vhosts breaks functionality in 2.7.2"
See: https://github.com/ansible/ansible/issues/48890

It's really hard for me to comprehend how this issue can be open for 2 years with pull requests that fix it, people occasionally pinging for an update and now the old issue just gets closed with "reopen it in this other repo"... Is it gonna sit here as well now for 2 years? Very frustrating 😠

Can we get this fixed/merged...?

[2020-06-24 09:00] CSimpiFoN commented on #34
Yes, please. This is a very important feature. It should be merge as soon as possible. Thanks

[2020-06-29 14:13] hozn commented on #34
Yeah, this is crazy.  I've run into this today and made the local 1-line fix .... but obviously that means that the playbooks only work from my machine.

[2020-06-29 16:07] odyssey4me commented on #34
If you propose a PR, then it can get reviewed/tested here and merged pretty quickly.

[2020-07-06 14:12] CSimpiFoN commented on #34
Like this one?
https://github.com/ansible/ansible/issues/48890

[2020-08-05 20:46] felixfontein opened #40 "Inclusion of community.rabbitmq in Ansible 2.10"
This collection will be included in Ansible 2.10 because it contains modules and/or plugins that were included in Ansible 2.9. Please review:

* The list of requirements for inclusion in Ansible: https://github.com/ansible-collections/overview/blob/master/collection_requirements.rst
* The roadmap with all important dates for Ansible 2.10: https://github.com/ansible/ansible/blob/devel/docs/docsite/

[2020-08-10 10:31] Akasurde opened #41 "feature rabbitmq module: cluster and federation management module"
_From @DEvil0000 on Feb 28, 2020 13:08_

##### SUMMARY
having a module for manageing rabbitmq cluster joins and federation would be nice.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
rabbitmq

_Copied from original issue: ansible/ansible#67855_

[2020-08-17 19:21] felixfontein commented on #40
Please note that the deadline for releasing 1.0.0 is **tomorrow**!

CC @odyssey4me

[2020-08-18 13:35] odyssey4me commented on #40
Apologies for missing this earlier, but I have completed this now. Please let me know if there's anything not properly done and I can get that sorted ASAP.

[2020-08-18 15:58] #40 closed

[2020-08-25 14:53] JJCella commented on #34
Fixed with #36

See [Filter out headers](https://github.com/ansible-collections/community.rabbitmq/commit/3c64fa61cc35cef05a8dd8456b9b85956c664f41#diff-6bbdd959b8dc318db56c749d27f66192R317)

[2020-08-26 11:06] odyssey4me commented on #34
Closing now that the fix is released. Thanks!

[2020-08-26 11:06] #34 closed

[2020-09-29 21:00] cognifloyd opened #45 "Add RabbitMQ install roles"
##### SUMMARY
Add generic roles for installing rabbitmq. They should span simple use-cases (single server) to clustered server.
Since this is a collection, we can break the installation down into multiple roles so that users can pick and choose the roles they need.

I'm thinking of something similar to the roles in [`community.mongodb`](https://github.com/ansible-collections/community.rabbitmq).

[2020-09-29 21:04] cognifloyd commented on #45
One of my goals in putting these generic roles together here, is so that disparate communities can work together on installation roles for common dependencies.

I've heard that the `openstack.rabbitmq_server` role is a good starting point. So, I'll start looking through that to see how many different roles we might want here.

[2020-11-07 13:57] odyssey4me commented on #45
I'm open to this idea. I'm also open to seeing thoughts on what the roles may be. The [openstack-ansible role](https://opendev.org/openstack/openstack-ansible-rabbitmq_server) is somewhat monolithic which has its benefits and drawbacks. It might be worthwhile to break things out into multiple roles - for example, one to do initial install, one to configure and perhaps one specially suited to clust

[2020-11-07 19:14] cognifloyd commented on #45
Yes. I want to split this out into multiple roles. We could have one meta role that orchestrates the other roles to ease transition from openstack's role.

I've been busy with a new job, so I'll get back to this very soon. :)

[2020-11-13 12:12] francoisfreitag opened #47 "`rabbitmq_user`: ValueError: need more than 1 value to unpack"
##### SUMMARY
Module `rabbitmq_user` crashes with message `ValueError: need more than 1 value to unpack`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`community.rabbitmq.rabbitmq_user`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Centos 7 (x86_64)

##### STEPS TO REPRODUCE

Create a virtual machine. I used the following [`Vagrantfile`](https://www.vagr

[2020-11-16 22:44] jdufresne commented on #47
I think this might have been fixed in 351d9fb11c09bc3f8f32992679c948a253226032.

[2020-12-10 14:30] baptistedaroit opened #49 "Add a module to manage operator policies"
##### SUMMARY
The **rabbitmq_policy** module currently supports the management of "standard" policies for RabbitMQ. Nevertheless, it does not allow to manage [operator policies ](https://www.rabbitmq.com/parameters.html#operator-policies).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

rabbitmq_operator_policy

##### ADDITIONAL INFORMATION

This new module would allow to manage RabbitMQ o

[2020-12-10 14:30] baptistedaroit commented on #49
Hello,
If you are interested, I would be glad to help by raising a PR.
Thank you!

[2020-12-23 17:26] robo2bobo opened #52 "Virtual host vhost does not exist (bug since 2018)"
rabbitmq_user is broken. It works the first time to create a user, but any other re-runs generate an error. This is an old bug from 2018, with a fix that was never merged, please see the full bug report:

https://github.com/ansible/ansible/issues/48890

lots of other bug reports about this issue:

https://github.com/ansible/ansible/issues/67572
https://github.com/ansible/ansible/issues/66421
https

[2021-01-05 10:16] EugenFo opened #53 "rabbitmq_user can't determine the version of RabbitMQ server"
##### SUMMARY

I'm trying to create rabbitmq users with the rabbitmq_user module, but this keeps failing with the error message:
**Could not determine the version of the RabbitMQ server.**
I'm using the Ansible version 2.10.3 and the Rabbitmq Cluster has the version 3.7.13 and Erlang version 21.3.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

rabbitmq_user

##### ANSIBLE VERSION

[code]

#

[2021-01-05 10:27] EugenFo commented on #53
As an addition: When running the same task with ansible version 2.7.10 everything works like it should.

[2021-01-08 11:14] RolT opened #54 "Cannot use exchange type `x-delayed-message`"
##### SUMMARY
Hello, the `rabbitmq_exchange` module does not accept the `x-delayed-message` type. It used to work in version 0.1.0.
The delayed message exchange is a rabbitmq plugin: https://github.com/rabbitmq/rabbitmq-delayed-message-exchange

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rabbitmq_exchange

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ub

[2021-01-21 14:13] walidsa3d commented on #53
Same here

[2021-01-25 18:59] jrisebor commented on #54
We've run into this issue as well for both `x-delayed-message` & `x-consistent-hash` exchange types. The consistent hash exchange is also a plugin: https://github.com/rabbitmq/rabbitmq-server/tree/master/deps/rabbitmq_consistent_hash_exchange

@RolT I would be interested to see a PR to get a fix started for this. At the very least it would be helpful to see what you did to work around the issue.

[2021-01-26 00:37] RolT commented on #54
Sure, the PR is a bit ridiculous, but here it is: #56
I'm using version 0.1.0 at work, it's good enough for now.
[code]

[2021-01-26 09:59] nazunalika opened #57 "rabbitmq_policy json.decoder error when trying to apply a policy"
##### SUMMARY
When trying to apply a policy, a `json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)` error appears.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`community.rabbitmq.rabbitmq_policy`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 8.3, x86_64
RabbitMQ 3.8.3

##### STEPS TO REPRODUCE

Create a simple playbook with a

[2021-01-27 03:59] nazunalika commented on #57
After some investigating... this should be changed.

[code]

There is no json here at all. It's just a string. I'll see about opening a PR.

[2021-01-29 13:31] tlb1galaxy commented on #53
**Environment**:
OS = CentOS 8
ansible 2.9.17
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/var/lib/awx/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3.6/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 3.6.8 (default, Aug 24 2020, 17:57:11) [GCC 8.3.1 20191121 (Red

[2021-01-29 13:49] tlb1galaxy commented on #53
Forgot to attach the testserver01 Rabbitmq log.
You can see where it registers the commands to create users but not on the system.

[testserver01_rabbitmqLog.txt](https://github.com/ansible-collections/community.rabbitmq/files/5894138/testserver01_rabbitmqLog.txt)

**Testserver01 output**:
_list_users_:
[code]
_queues_:
[code]
RabbitMQ status:
[code]

[2021-01-29 14:34] tlb1galaxy commented on #53
Just figured out my issue.
.
On the RabbitMQ server, I set the "_rabbitmq-env.conf_" option:
`USE_LONGNAME=true`

This now essentially now changes the node name from:
**rabbit** => **rabbit@%fqdn%**

So within the rabbitmq_user module, the node option needs to change to match.
[code]

Suggestion:
Can the error message be more clear why it fails.  Something like
"Node name 'rabbit' not found.  Veri

[2021-01-30 14:07] tlb1galaxy opened #59 "community.rabbitmq.rabbitmq_plugin - No option to specify "node""
##### SUMMARY

Community.rabbitmq.rabbitmq_plugin module does not have the ability to specify the RabbitMQ node name.  If/when the node name is not the default "rabbit", this module will report false success.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.rabbitmq.rabbitmq_plugin
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS = CentOS 8
AWX

[2021-02-05 09:12] francoisfreitag opened #60 "Release a new version"
The master branch contains several commits. At least https://github.com/ansible-collections/community.rabbitmq/commit/351d9fb11c09bc3f8f32992679c948a253226032 should fix https://github.com/ansible-collections/community.rabbitmq/issues/47.

##### SUMMARY
Can the current master branch be released so that users benefit from the fixes?

[2021-02-18 07:59] Andersson007 opened #63 "Azure Pipelines: add Ubuntu 20.04 to .azure-pipelines/azure-pipelines.yml to devel branch section"
##### SUMMARY
Azure Pipelines: add Ubuntu 20.04 to .azure-pipelines/azure-pipelines.yml to devel branch section
Relates to https://github.com/ansible-collections/overview/issues/45#issuecomment-776859063

Also consider adding alpine3 and macos/11.1 if possible

Now on Ubuntu 20.04 the tests fail with
[code]
So they need to be adjusted

##### ISSUE TYPE
- Feature Pull Report

##### COMPONENT NAME
t

[2021-02-19 17:26] #54 closed

[2021-02-19 18:40] odyssey4me commented on #60
https://github.com/ansible-collections/community.rabbitmq/releases/tag/1.0.2 is done, although it's not yet got to galaxy yet. I'll keep this open until that's complete. It's an automatic process, FYI.

[2021-02-19 18:44] francoisfreitag commented on #60
Great, thank you!

[2021-02-19 19:33] odyssey4me commented on #60
There was a problem with 1.0.2 for some reason, so I've tagged 1.0.3 which has finally been published. Thank you for your patience!

[2021-02-19 19:33] #60 closed

[2021-02-19 19:35] odyssey4me commented on #49
Of course, all contributions are welcome!

[2021-03-25 17:49] aitorpazos opened #64 "Add support for user limits introduced in RabbitMQ 3.8.10"
##### SUMMARY

As of RabbitMQ release 3.8.10, per-user limits are supported for `max-connections` and `max-channels`. It will be great if this collections supports managing those (possibly similarly as it is done for `rabbitmq_vhost_limits`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
It could be a new `rabbitmq_user_limits` task.

##### ADDITIONAL INFORMATION
Proposed syntax:
[code]

[2021-05-10 07:43] odyssey4me opened #72 "Volunteer help wanted"
Unfortunately I'm not able to commit as much time as I'd like to the maintenance and continuous improvement of this repository. I would appreciate it if some others could step up to take on any or all of these roles:

1. Development of improvements - looking at the code base and improving its readability, maintainability and testability.
2. Development of bug fixes - fixing reported bugs and imple

[2021-05-18 09:56] aderixon commented on #52
This was fixed in https://github.com/ansible-collections/community.rabbitmq/issues/34

[2021-05-19 07:09] weisslj commented on #49
@baptistedaroit Are you already working on a PR? We need this as well, and I am thinking about implementing as Python module this instead of doing it manually via `command` / `rabbitmqctl`.

[2021-05-26 08:28] abompard commented on #72
Hey! I can help a bit, but I'm unfamiliar with Ansible's testing framework and code policies, so I may need a bit of help to get started. I managed to run ansible-test for unit tests, but the integration tests don't pass at the moment, do they? Or is it my local setup?

[2021-05-26 16:25] noonedeadpunk commented on #72
I think we're among interested parties to help out. Will try to help out with 2 point in the upcoming week or 2.

[2021-06-01 12:04] odyssey4me commented on #72
Hey @abompard - there aren't really any special policies, only those outlined in https://github.com/ansible-collections/community.rabbitmq#contributing-to-this-collection

Integration tests were passing the last time I checked, but it has been a while. The instructions are in the README.

@noonedeadpunk That would be great, thank you.

[2021-06-02 10:10] abompard commented on #72
Hey @odyssey4me ! I couldn't run the integration tests, some repos have disappeared apparently. I've opened #75 to try to get them working again but I'm stuck with `systemctl` failing in the ubuntu container that `ansible-test` creates. Could you try running the integration tests on your side, maybe it's something wrong with my setup. Thanks!

[2021-07-05 11:20] seocam opened #76 "Add an option to allow rabbitmq_user to use API for managing users"
##### SUMMARY
Currently rabbitmq_user uses `rabbitmqctl` for managing users. The idea is to add a choice for allowing to use API as well.

##### ISSUE TYPE

- Other plays in this collection already support using the API (like for managing exchanges, queues and bindings). My proposal is to add the option of using API for users as well without breaking backwards compatibility with the current implem

[2021-07-05 11:20] seocam commented on #76
At @libercapital we already implemented a way of using API for managing users and permissions. So we would only need to refactor the code to add it to the community repo.

Let me know if you like the idea so we can start to work on a PR.

[2021-07-07 23:29] cognifloyd commented on #45
So here are the roles I think we could have:
- `community.rabbitmq.rabbitmq_repository`: Add the deb/rpm/etc package repository
- `community.rabbitmq.rabbitmq_install`: Install rabbitmq itself
- `community.rabbitmq.rabbitmq_config`: Setup rabbitmq.conf and optionally add plugins, policies, vhosts, users

We might end up with another utility role or two, but that's the first stab at splitting it up

[2021-07-14 08:08] cognifloyd commented on #72
I just tried to setup azure pipelines in my fork to see about helping with getting the test setup fixed... I gave up - the pipeline is using a private pool and I had to go ask for a grant to run stuff in parallel even though it said parallel runs were included in the free plan. Ugh. Never mind. The tests in this repo are not really fork-able.

@abompard I'd like to try helping diagnose things, whi

[2021-07-14 11:08] abompard commented on #72
@cognifloyd I just did in #75, thanks for the help.

[2021-07-14 21:04] seocam commented on #76
@Andersson007 @odyssey4me if you give us your "bless" we can start to work on it ;)

[2021-07-15 11:45] Andersson007 commented on #76
@seocam hi, thanks for the issue and mentioning! The idea sounds reasonable to me (especially that it will not break anything from the current functionality).

Though I'm not a specialist in rabbitmq, so it's a bit hard to judge (did just regular stuff related to the collection maintenance) but as we can see by the thumbs ups, it's worth doing it.

Maybe this [Quick-start guide](https://github.com

[2021-07-15 21:18] seocam commented on #76
Roger that!

[2021-07-16 11:49] Andersson007 opened #79 "Improve integration testing"
##### SUMMARY
To make things going in the collection, CI, that failed, was simplified with https://github.com/ansible-collections/community.rabbitmq/pull/78

I can't invest much time as not a maintainer of this collection and not a specialist in the area.

Would be nice:

1. Get rid of the simplification introduced with https://github.com/ansible-collections/community.rabbitmq/pull/78 replacing it

[2021-07-16 13:01] #63 closed

[2021-07-19 10:22] Andersson007 opened #81 "We are looking for new maintainers and contributors"
##### SUMMARY
Relates to https://github.com/ansible-collections/community.rabbitmq/issues/72

Hi everyone!

This collection is a part of Ansible package and is looking for new maintainers and contributors.

To learn how to contribute to the collection and how to maintain it / become a maintainer, refer to the [Contributing guidelines](https://github.com/ansible/community-docs/blob/main/contributin

[2021-07-21 08:45] Andersson007 commented on #81
CC @manuel-sousa @chrishoffman @h-matsuo you were invited to this repository as maintainers and the invitations are still pending. Are you interested in maintaining this stuff or I can cancel the invitations? Thanks

[2021-07-21 09:07] Andersson007 commented on #81
CC @retr0h @Im0 are you the module authors, would you like to maintain this collection?

[2021-07-23 01:42] retr0h commented on #81
@Andersson007 I haven't worked on the module in years.  Appreciate the ask tho.

[2021-07-23 05:14] Andersson007 commented on #81
@retr0h anyway thank you for the feedback

[2021-07-26 12:56] #64 closed

[2021-07-26 13:17] Andersson007 opened #88 "Release plan"
##### SUMMARY
_(partially copied from https://github.com/ansible-collections/community.crypto/issues/74)_

We should decide eventually on how to release this collection (w.r.t. versioning).
Small collections like this one don't need a complex plan like the one for community.general and community.network.
So how about the following?

1. Release minor and patch releases whenever we want (like after

[2021-07-26 13:25] Andersson007 commented on #88
a **tentative** date of release `1.1.0` is  30.07.2021

[2021-07-27 05:44] Andersson007 commented on #21
@odyssey4me hi, is this relevant? Doesn't Zuul publish the collection on Galaxy seeing new tags?

[2021-07-27 11:30] odyssey4me commented on #21
Ah, yes it does. I guess we can close this. This was written well before any of that infrastructure existed.

[2021-07-27 11:30] #21 closed

[2021-07-28 14:50] Andersson007 commented on #57
closed via https://github.com/ansible-collections/community.rabbitmq/pull/86

[2021-07-28 14:50] #57 closed

[2021-07-29 06:25] Andersson007 commented on #88
as everything that was planned for inclusion in the release is ready, I'm gonna release `1.1.0` now.

[2021-07-29 08:24] Andersson007 commented on #88
`community.rabbitmq 1.1.0` has been release and is available to install now via `ansible-galaxy` or tarball from [Galaxy](https://galaxy.ansible.com/community/rabbitmq). It'll also be included in the next `ansible` package release.

[2021-07-29 10:53] odyssey4me commented on #88
Thanks @Andersson007 for facilitating all this, it really helps things move along!

[2021-07-29 11:41] Andersson007 commented on #88
@odyssey4me the Ansible rabbitmq community is always welcome! :)

[2021-08-13 11:05] Andersson007 opened #94 "Simple code refactoring needed"
##### SUMMARY
Relates https://github.com/ansible-collections/community.rabbitmq/pull/89#issuecomment-887398334

the modules use the same function `_exec`. We could move it (and other shared things if exist), to `plugins/module_utils/something.py`, document it there, and use everything instead of having the code duplicated.

1. Move the code to a library under `plugins/module_utils`
2. It could be

[2021-08-13 11:06] Andersson007 commented on #94
@aitorpazos i created this issue not to forget. if you're still interested in this, please put it explicitly here to avoid working in parallel

[2021-08-13 14:26] aitorpazos commented on #94
Sure, busy atm but will address it soon.

[2021-08-31 07:59] Andersson007 commented on #45
@odyssey4me @aitorpazos what do you think of the suggested roles? ^

[2021-08-31 08:07] Andersson007 commented on #45
The `battery included` approach sounds good to me:) I'm not sure about the particular modules, that's why we're asking you, folks.

[2021-08-31 15:00] cognifloyd commented on #81
@Andersson007 thanks for reaching out. I'd be happy to help maintain this collection. Like I said in my email, I don't have time to be a sole Maintainer, but I'm happy to help review/merge things and work towards adding roles in #45.

[2021-09-01 11:51] Andersson007 commented on #81
@cognifloyd the invitation has been sent!
Our congratulations on getting the `maintainer` permission in the repo!
We'll be always happy to help when needed.
Thank you for your interested in maintaining this collection and your contributions!

[2021-09-01 15:09] gundalow commented on #72
@cognifloyd The tests will run in AZP when you create a PR against this repo. No need to worry about them running in your fork.
If you have any issues please shout out.

[2021-09-09 09:06] Andersson007 opened #95 "Improve examples formatting"
##### SUMMARY
As was spotted in https://github.com/ansible-collections/community.rabbitmq/pull/73#discussion_r705131780,
the format of the examples can be improved to
[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
All the modules need to be checked

[2021-09-09 09:07] Andersson007 commented on #95
@abompard would you like to pick it up as we spotted this in your PR?

[2021-09-12 09:41] duttaANI commented on #95
I have found the following files in [modules](https://github.com/ansible-collections/community.rabbitmq/tree/main/plugins/modules) where in EXAMPLES  can be formatted as mentioned [here](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_documenting.html#examples-block)

1. rabbitmq_vhost.py
2. rabbitmq_global_parameter.py
3. rabbitmq_vhost_limits.py
4. rabbitmq_exchange.py
5. ra

[2021-09-13 09:00] Andersson007 commented on #95
@duttaANI hi and welcome to the project!
I think @abompard has not started with this yet, so feel free to proceed!
Thank you!

[2021-09-13 09:33] abompard commented on #95
Yeah, thanks, I don't have much bandwidth for this at the moment unfortunately.

[2021-09-13 11:39] duttaANI commented on #95
Should I also add **r** letter ?
like EXAMPLES = **r** '''   .... ''' , after = symbol

[2021-09-13 11:47] Andersson007 commented on #95
yes, please add this, thanks!

[2021-09-14 14:31] Im0 commented on #81
@Andersson007 thanks for asking.  Like retr0h, I've not worked on the modules for a few years.  I'd be OK to review/look at issues with the lookup and publish code I wrote if issues arise but I don't know if that warrants me being a maintainer? :)

[2021-09-15 07:54] Andersson007 commented on #81
@Im0 thanks for the feedback!
You're decision to support the code you wrote is much appreciated. Moreover, you definitely know how the service works and resp can share your valuable experience!
Could you please ping me via email aklychko at redhat dot com?

@odyssey4me @cognifloyd are you OK with accepting @im0 to our maintainer gang?

[2021-09-15 11:40] odyssey4me commented on #81
We appreciate more eyes on reviews from people who are familiar with both Ansible and RabbitMQ, so @lm0 is welcome as far as I'm concerned. 👍  from me!

[2021-09-16 12:37] Andersson007 commented on #81
@odyssey4me thanks for the feedback!

@im0 have you received my email with the details?

[2021-09-21 07:21] Andersson007 commented on #81
@Im0 , the invitation has been sent, my congratulations and thank you for your interest in maintaining this collection and in supporting your code!

[2021-09-24 11:36] Im0 commented on #59
@tlb1galaxy out of interest, what does `rabbitmq-plugins list -E -m` return for you on the rabbitmq node?

[2021-09-24 12:33] tlb1galaxy commented on #59
Hello,
Output on this nod/cluster:

[code]

Thanks

From: John Imison ***@***.***>
Sent: September 24, 2021 7:36 AM
To: ansible-collections/community.rabbitmq ***@***.***>
Cc: tlb1_galaxy ***@***.***>; Mention ***@***.***>
Subject: Re: [ansible-collections/community.rabbitmq] community.rabbitmq.rabbitmq_plugin - No option to specify "node" (#59)

CAUTION - EXTERNAL EMAIL
This email originated from

[2021-10-13 09:44] Andersson007 opened #104 "Fix and enable integration tests against devel and stable-2.12 on Ubuntu1804"
##### SUMMARY
Tests against devel and stable-2.12 on Ubuntu1804 have been disabled in https://github.com/ansible-collections/community.rabbitmq/pull/103.

Possibly because of https://github.com/ansible-collections/overview/issues/45#issuecomment-923507542.

[2021-10-13 15:01] Andersson007 commented on #104
@Im0 option 2 is wait for my pr gets merged. Then you can update you local fork and do same with the main repo, not with my fork

[2021-10-27 20:16] rockandska opened #105 "rabbitmq_plugin doesn't allow which node to target as other modules"
##### SUMMARY
rabbitmq_plugin doesn't allow which node to target as other modules

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

rabbitmq_plugin

[2021-10-27 21:24] #105 closed, assigned to nobody

[2021-11-26 11:24] aderixon opened #107 "rabbitmq_user doesn't support Ansible check mode"
##### SUMMARY
When applied with ansible --check, the rabbitmq_user module always makes any required changes to the users anyway. This is unexpected behaviour and potentially disruptive to the RabbitMQ service.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rabbitmq_user

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cent

[2022-01-19 16:40] msven commented on #76
@seocam Any update on this?

[2022-01-21 09:27] Andersson007 commented on #76
@msven if you have your own implementation, feel free to propose and thanks for pinging the issue author!:)

[2022-01-21 13:26] seocam commented on #76
We actually did implement a bunch of features using the API. It's already in production for a few months for us.
We just didn't have the time to clean it up to create the PR.
CC: @arloc @gonzula

[2022-01-26 08:37] Andersson007 opened #108 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-01-27 13:45] dkossako commented on #76
@seocam may I help you somehow with that?

[2022-01-28 17:41] seocam commented on #76
@dkossako we are organizing ourselves to create a PR without the tests and docs. From there I believe you will be able to help.

[2022-01-29 15:48] kost1993 opened #109 "Ansible community.rabbitmq can't use RABBITMQ_USE_LONGNAME"
##### SUMMARY
There is a problem with cluster which uses longnames in rabbitmq cluster. For now there is no possible way to use any play against such clusters. There is no such option in plugins and possible life hacks such as setting remote environment doesn’t work.
For instance: rabbitmqctl can be used in bash with longnames:
[code]
But in the rabbitmq_user.py of ansible collection there is no p

[2022-02-07 08:40] csmart commented on #81
I'm happy to help too, if needed.

[2022-02-07 13:34] Andersson007 commented on #81
@csmart thanks for your interest! You will get an invite with `write` to your email soon. CC @odyssey4me
We'll also announce this via Bullhorn.
Thank you!

[2022-02-07 13:36] gundalow commented on #81
@csmart Thank you so much for offering to help, and for all you've done so far. It's great to see new maintainers join the Ansible Community :)

[2022-02-07 13:41] Andersson007 commented on #81
also forgot to mention @cognifloyd and @Im0 ^

@csmart the invite has been sent

[2022-02-16 09:57] nycterent commented on #76
same for vhosts would be nice. in general - i would like to use ansible community.rabbitmq to manage vhosts and users on amazon-mq service

[2022-03-03 16:40] petebuffon commented on #79
I'm currently in the process of adding ansible-collections-community-rabbitmq to both Fedora and CentOS. It would help me out if there were tests for both of these distributions.

I would be willing to help write these tests, but I'm not exactly sure where to start.

[2022-03-07 10:02] Andersson007 commented on #79
@petebuffon hello, thanks for your interest!
You could start with:
- Prepare your environment using https://docs.ansible.com/ansible/devel/community/create_pr_quick_start.html
- Read the [integration test quick-start guide](https://github.com/ansible/community-docs/blob/main/integration_tests_quick_start_guide.rst) just to imagine things better.
- Running integration tests locally against, say, `f

[2022-03-14 07:52] kissifrot opened #111 "FR: Add module to manage RabbitMQ dynamic shovels"
##### SUMMARY
Add module to manage RabbitMQ dynamic shovels

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
dynamic_shovels

##### ADDITIONAL INFORMATION
A PR was created a little while ago in the main Ansible repo (https://github.com/ansible/ansible/pull/37316), I think it would be a good idea to integrate it in this collection.
Due to the JSON format used by the dynamic shovels it's a bit

[2022-03-14 10:52] Im0 commented on #81
Great :) Welcome @csmart !

[2022-03-21 08:50] Andersson007 opened #112 "Ansible Contributor Summit. Tuesday, April 12, 2022."
##### Ansible Contributor Summit

We are happy to announce that the registration for the [Ansible Contributor Summit](https://hackmd.io/@ansible-community/contrib-summit-202204/%2FlV3o41__RLiX8P2rm-gGKA) is open!

##### Why

- This is a great opportunity for interested people to meet, discuss related topics, share their stories and opinions, get the latest important updates and just to hang out to

[2022-04-12 17:43] #112 closed

[2022-04-16 18:49] wrobell opened #114 "Allow to specify queue type in rabbitmq_queue module"
RabbitMQ has various types of queues

- classic
- quorum
- stream (since 3.9.x)

It would be great if we could specify queue type via rabbitmq_queue module.

[2022-04-20 09:07] movergan commented on #107
Any update on that? It's quite a critical bug, one testing user password change can bring production down without knowing it.

[2022-04-20 12:15] csmart commented on #107
Hi @movergan thanks for the report, I will try to have a look into it this week and provide an update.

[2022-04-20 13:38] aderixon commented on #107
[rabbitmq_user.py.txt](https://github.com/ansible-collections/community.rabbitmq/files/8521920/rabbitmq_user.py.txt)

Attaching my patched version of this module here in case it's useful for anyone else who needs a workaround for now. (Caveat emptor, etc.)

[2022-04-21 07:42] Andersson007 commented on #114
@wrobell hello and welcome to the project!
Thanks for the issue! I've put the `help_wanted` label, so interested folks can pick it up

[2022-04-25 09:13] Andersson007 opened #117 "AZP: add testing against Ansible 2.13 to matrix"
##### SUMMARY
Relates to https://github.com/ansible-collections/news-for-maintainers/issues/14

We need to have testing against 2.13 in https://github.com/ansible-collections/community.rabbitmq/blob/main/.azure-pipelines/azure-pipelines.yml.
As an example we can use [community.docker's matrix](https://github.com/ansible-collections/community.docker/blob/main/.azure-pipelines/azure-pipelines.yml)

[2022-04-25 09:13] Andersson007 commented on #117
@csmart would you like to do it? if you have no time, please let me know

[2022-05-01 21:51] #117 closed

[2022-05-06 14:47] dmsimard opened #121 "Sanity tests failing in community.rabbitmq"
##### SUMMARY
We are running sanity tests across every collection included in the Ansible community package (as part of [this issue](https://github.com/ansible-community/community-topics/issues/96)) and found that ``ansible-test sanity --docker`` against community.rabbitmq 1.1.0 fails with ansible-core 2.13.0rc1 in ansible 6.0.0a2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
n/a

##### AN

[2022-05-10 07:19] Andersson007 commented on #121
@dmsimard thanks for pointing this out! Things were actually fixed some time ago https://github.com/ansible-collections/community.rabbitmq/pull/116.
The collection just needs to be released, @csmart @cognifloyd would you like to release version 1.2.0? We have a step-by-step [releasing guide](https://docs.ansible.com/ansible/devel/community/collection_contributors/collection_release_without_branche

[2022-05-11 21:32] csmart commented on #121
@Andersson007 I should be able to look into this later today

[2022-05-13 15:31] DavidLevayer opened #123 "Cannot create exchange of type "x-random""
##### SUMMARY
`rabbitmq_exchange` module does not allow to create exchanges of type `x-random` (allowed by core [rabbitmq_random_exchange](https://github.com/rabbitmq/rabbitmq-server/tree/b62c5499cefa2f57d8516f3948543383d8387d4b/deps/rabbitmq_random_exchange) plugin).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[code]

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

####

[2022-05-14 01:10] #121 closed

[2022-05-16 06:21] felixfontein opened #125 "[IMPORTANT] Missing PSF-license.txt file"
##### SUMMARY
plugins/module_utils/_version.py mentions licenses/PSF-license.txt, which doesn't exist yet.

Please also add that file (from https://github.com/ansible/ansible/blob/devel/licenses/PSF-license.txt) to all branches that contain plugins/module_utils/_version.py. As pointed out in https://github.com/ansible-collections/community.general/pull/4675#issuecomment-1127245658 by @gotmax23, an

[2022-05-16 10:23] #125 closed

[2022-05-16 12:41] csmart commented on #125
Once #127 is merged, I'll do a new release.

[2022-05-18 00:50] DanceMore commented on #45
$newJob "likes ansible" but they've never bothered to use "modules" or "galaxy" or advanced features like that....

I'm trying to modernize things and I'm pretty shocked to see that `community.rabbitmq` can't configure repos and install the packages for me ...?

[2022-05-20 08:10] DavidLevayer commented on #114
You can do it using the `arguments` parameter:

[code]

[2022-05-30 19:13] marc-jan commented on #53
Any update on this issue?

I'm encountering exactly  the same issue with up to date ansible version. Workaround with USE_LONGNAME and setting the node in playbook are not working.

[2022-06-14 13:33] baptistedaroit commented on #49
Hello @weisslj,

Sorry for the delay! I implemented a module but I didn't actually raise a PR about it.

I will try to do it in the following weeks.

[2022-06-17 06:47] charnet1019 commented on #53
same issue.
ansible 2.12.6

[2022-06-19 20:22] lukasjuhrich commented on #107
Agreed, this is what took me out of my sunday afternoon. But these things happen.

As it stands, the „smaller“ bug that we're having here is the fact that `rabbitmq_user` declares `supports_check_mode=True`, which at the moment is not true: https://github.com/ansible-collections/community.rabbitmq/blob/74f479f855e4dc66faecc4327d8cca01f853faf8/plugins/modules/rabbitmq_user.py#L466-L469

So setting

[2022-06-19 20:59] lukasjuhrich commented on #107
I just learned about the `update_password` option, which one would have to take into account.

[2022-07-05 12:34] lukasjuhrich commented on #107
@csmart I hope this doesn't come across as impatient, but if time is an issue, would it be possible to set `supports_check_mode=False` in the meantime? It would be a trivial change but already very helpful.

[2022-07-07 23:06] csmart commented on #107
This has been merged to `main`, I will arrange a new release soon.

[2022-07-08 12:12] DavidLevayer commented on #123
Nobody interested?

[2022-07-13 04:04] lintyao commented on #53
For me, adding `become: yes` solved the issue. I guess it is because the `rabbitmqctl` command can only be run by root (sudoer) or the rabbitmq user.

[2022-07-13 11:19] csmart commented on #107
I've release `1.2.2` which should be available on galaxy soon.

[2022-08-17 20:26] wrobell commented on #114
I have finally found some time to revisit this.

@DavidLevayer I did try using the `arguments` parameter in the past, but it failed with an error.

After further investigation, this works:
[code]

Changing queue name to contain slash like
[code]
fails with error
[code]
Using `rabbitmqadmin declare queue` I can create `test-x/test-y` stream, so it seems like there is a problem with the Ansible plug

[2022-09-06 21:40] csmart opened #134 "All modules and doc fragments: Change yes/no/True/False to true/false"
**SUMMARY**

It was [decided](https://github.com/ansible-community/community-topics/issues/116) by the Steering Committee for consistency to use `true/false` in collection doc instead of `yes/no/True/False`.

- [ ] Change cases in files under the plugins/modules directory DOCUMENTATION and EXAMPLES sections
- [ ] Change doc fragments under plugins/doc_fragments directory

[2022-09-07 04:11] #134 closed

[2022-09-26 09:20] Andersson007 opened #137 "Collection CI related actions needed"
##### SUMMARY
Relates to https://github.com/ansible-collections/news-for-maintainers/issues/24.

It's been detected that this repository contains `ignore-2.14.txt` file but not `ignore-2.15.txt` file.

Actions needed:
- Copy `tests/sanity/ignore-2.14.txt` to `tests/sanity/ignore-2.15.txt` otherwise the CI will get failing.
- If it's not done yet, add the `stable-2.15` branch to your CI workflow fi

[2022-09-27 14:16] alexdjachenko opened #138 "Publushing works with queues, not with exchanges"
##### SUMMARY
All examples of rabbitmq_publish demonstate only publishing to  queue, but main publishing method in rabbitmq should work with exchanges. Becouse only exchanges could me configurate for routing.
There is options "exchanges", but it doesn't work: when I try publish message to exchange without queue, it post it to random queue and routing is ignored.

##### ISSUE TYPE
- Bug Report

###

[2022-10-05 17:20] seocam commented on #76
That was exactly my initial use case

[2022-10-18 00:18] Im0 commented on #138
@alexdjachenko thanks for raising this.  You are completely right,  it appears that I missed out the code for sending messages to an exchange!  I've not used rabbit in a while but I will take a look.

[2022-10-18 05:03] Im0 commented on #138
@alexdjachenko this probably needs a bit of a tidy up, but, I've tested rabbitmq by creating a exchange (`test_exchange`) which fans out to two queues (`queue1` & `queue2`).  By specifying an empty queue with an exchange the module then does not create a random queue and utilises the exchange.

[code]
I'll have a look at how to make it a bit more user friendly. :)

[2022-10-18 16:31] alexdjachenko commented on #138
@Im0 thanks a lot for your answer!
Yes, I've tested it too. The routing really works, but every  launch creates a random queue. I'll be whait your fix with hope and gratitude :)
About friendly design, I think en example with exchange in the documentation could help :)

[2022-10-19 06:55] Im0 commented on #138
@alexdjachenko do you mind testing the pull request above?  I hope it fixes the issue you're seeing with the random queues when an exchange is specified but no queue.

[2022-10-19 23:25] Im0 commented on #137
@csmart Is this still good to approve?  I've not done much in the way of these CI files before so unsure of the impact, but, it does look reasonable.

[2022-10-19 23:53] csmart commented on #137
@Im0 oh thanks for the reminder! Let me check the PR, I think it was failing on Ubuntu tests...

[2022-10-20 00:00] Im0 commented on #137
If it is, please check and maybe approve #141

[2022-10-24 11:35] Andersson007 commented on #79
Sure

[2022-10-26 10:29] Im0 commented on #138
Hi @alexdjachenko -  did you get a chance to test the change in https://github.com/ansible-collections/community.rabbitmq/pull/140 ?  If you can test locally it would be greatly appreciated (it works for me).

Make a backup of your local files and you'll need to copy the following files into place:
* module_utils/rabbitmq.py
* modules/rabbitmq_publish.py

I'm eager to roll this out into a new rabb

[2022-10-27 11:24] Im0 commented on #76
@seocam thanks for sharing!  I'll try and give this a test soon and see if we can get this moving.

[2022-10-27 11:48] Im0 commented on #123
Sorry mate,  I tend to look after some of the other modules/plugins in here... but I'm happy to take a look at your request and also test it.

I had never used x-random and to be honest didn't know it was a valid exchange type until reading about that plugin.  I'll give it a test locally and consider how best to implement it.  (Of course if you're still interested in the functionality)

[2022-10-28 01:38] Im0 commented on #123
Just looking into this and I see 4 plugins which enable new exchange types:

* **rabbitmq_consistent_hash_exchange** enables **x-consistent-hash** (https://github.com/rabbitmq/rabbitmq-server/tree/main/deps/rabbitmq_consistent_hash_exchange).
* **rabbitmq_random_exchange** enables **x-random** (https://github.com/rabbitmq/rabbitmq-server/tree/main/deps/rabbitmq_random_exchange).
* **rabbitmq_recen

[2022-10-28 01:49] Im0 commented on #114
Hi @wrobell ,

WIth regard to your queue name `test-x/test-y` I feel like it's probably causing problems with the API request which is built in `rabbitmq_queue` like this:

[code]

I'm wondering if the `name` argument needs to be escaped so it can be passed through to the URL as a name, not as an extension of the URL path.

Probably needs escaping here: https://github.com/ansible-collections/commu

[2022-10-28 02:03] cognifloyd commented on #123
Are these exchange types always valid, such that I could add x-random on any rmq cluster? If so, I would say to go ahead and add them to the valid list (option 1).

If they require some kind of plugin, then does rabbitmq provide a helpful message? Or could we perhaps extend the error message to say that "to use x-random exchange type, you need to install plugin x in the cluster"? This would be a t

[2022-10-28 02:30] Im0 commented on #123
Thanks for your reply @cognifloyd

They are only valid when the plugin is enabled.

Good question.  I will give it a test and revert back.

[2022-10-28 02:55] Im0 commented on #123
It's a fairly helpful error message returned:

[code]
As these exchanges are not enabled by default the exchange types do not exist until plugin enabled. I like:
1. Allow these 4 exchange types in the argspec
2. Document them accordingly including a warning message that these 4 need plugins to be enabled if their respective exchange types are being used
3. Around https://github.com/ansible-collect

[2022-10-28 03:44] Im0 commented on #76
@seocam nice work,  I like it.  I did a few tests and the only issue I found was missing arguement `provider`.

When trying the example provided:

[code]
I received:
[code]

Perhaps:
1. `provider=dict(type='str', default="rabbitctl", choices=["api", "rabbitctl"])` or similar in args…
2. Requires check:  `if provider==api` ensure the `login_*` arguments are provided.
3. Then change the if statement

[2022-10-28 03:51] cognifloyd commented on #123
Great. I'm glad the error message isn't too obtuse. That sounds like it'll be a great addition.

Then, next time someone requests another exchange type, maybe we can add a boolean to allow for any exchange type without using module parameter validation. Or an unchecked `custom_exchange_type` parameter documented with lots of "Use at your own risk" warnings. Or something.

[2022-10-28 10:18] Im0 opened #143 "Release community.rabbitmq collection v1.2.3"
##### SUMMARY

Just a placeholder/reminder to package/release v1.2.3

##### ISSUE TYPE
- Release planning

##### COMPONENT NAME

community.rabbitmq

##### ADDITIONAL INFORMATION

Planning to include:
* #140   (#138)
* #141
* #142 (#123)
* #139
* #144 ( #114 )

Possibly:
* #120

[2022-10-28 10:25] Im0 commented on #123
@cognifloyd thanks for your feedback/comments, it's great.  Do you mind checking out PR #142 if you have time and provide any feedback, or, tick of approval?  Thanks :)

[2022-10-28 13:18] seocam commented on #76
I haven't added a provider argument because I followed the same behavior as the exchange module. If login_host, user, and password are provided API is used, otherwise the rabbitmq-cli is used locally.

I do agree that explicit is beats implicit but, in that case, shouldn't we update all the modules in the collection?

[2022-10-28 13:21] seocam commented on #76
Also, I no longer work for Liber Capital and since I don't have access to their repo I will need to create a new PR in order to create fixes. If that's needed I can do it without any problems :)

[2022-10-28 16:42] alexdjachenko commented on #138
Hi @Im0, sorry for long answer. I'll test it next week.

[2022-10-30 09:20] Im0 commented on #138
No worries @alexdjachenko ,  thank you. :) I'm pretty sure that you will be happy.

[2022-10-30 10:18] Im0 commented on #76
@seocam thanks for the explanation regarding `provider`.  I called it out as the example at the start of the PR had `provider` which failed when I tried it.  No need to open a new PR.. I'll re-test with this in mind and look to merge if the other reviewers are happy.

Thanks for your contribution!  All the best in your new role.

[2022-10-30 22:02] #123 closed

[2022-10-30 22:04] Im0 commented on #123
@DavidLevayer thanks for raising this.  PR #142 has been merged into the codebase and you can use this immediately, otherwise, I'll be looking to package the collection to v1.2.3 in the coming week.

[2022-10-31 10:13] Im0 opened #145 "Disabled 20.04 from 2.14/devel AZP CI testing"
##### SUMMARY

This issue relates to #139 in which I disabled 20.04 from being tested with ansible 2.14 and devel.

This issue has been raised to consider if it's appropriate to leave 20.04 out of 2.14/devel integration testing, or, as a reminder to look into targetting the target testing container via IP.  Felix had some great suggestions at the bottom of #139 .

##### ISSUE TYPE
- Bug Report

##

[2022-10-31 10:14] #137 closed

[2022-10-31 22:06] Im0 commented on #138
Hi @alexdjachenko - I'm going to close this issue now, however, feel free to re-open it if you have any more issues.  I'll roll out community.rabbitmq collection v1.2.3 in the coming days, however, if you backup and copy the files previously mentioned into place you'll be able to utilise the fixes immediately.

[2022-10-31 22:06] #138 closed

[2022-10-31 23:38] Im0 commented on #79
To this point.  Perhaps we should test 3.9, 3.10 and 3.11 of rabbitmq.  Details here: https://www.rabbitmq.com/versions.html
Or, just test 3.9 and 3.11?

Something to be mindful of is the different erlang requirements for different versions: https://www.rabbitmq.com/which-erlang.html

[2022-11-01 04:53] Im0 commented on #79
@Andersson007 are most collections utilising github workflows these days?  Is it strange/undesirable for community.rabbitmq to be using AZP?  Or OK?

[2022-11-01 07:10] Andersson007 commented on #79
@Im0 it's OK
- GHA is used for distro-independent testing (its big downside is that currently it runs all available test targets regardless of files changed... which resp. increases the time needed for runs to pass)
- AZP is used when we need to test against different distros (though if you use only one distro, it's OK)

[2022-11-03 11:23] #114 closed

[2022-11-03 11:27] Im0 commented on #114
Thanks @wrobell for raising this and @DavidLevayer for your input.  This merge should fix the issue you raised regarding names like this "test-x/test-z" and the documentation enhanced with David's example.

You can start using this by copying the files into place from the github repo (don't forget to backup existing), or, we should be releasing v1.2.3 shortly.  Follow #143 for progress.  Ta.

[2022-11-03 23:49] Im0 commented on #88
#143

[2022-11-04 00:19] Im0 commented on #143
Release PR #147

[2022-11-04 01:01] Im0 commented on #143
Released on galaxy and newsbot informed:
[code]

[2022-11-04 01:01] #143 closed

[2022-11-21 12:42] zzhanabek opened #148 "Suppress informational messages"
Hello!

I am facing an issue, which is failing idempotence. On this setting:
[code]
Code of the failing task:
[code]
Everytime this task returns `changed`.

In local environment I have fixed this issue by adding `'-s'` in this line: https://github.com/ansible-collections/community.rabbitmq/blob/0a5173b01ac27be81d98d04a86c0a94869cf8408/plugins/modules/rabbitmq_plugin.py#L122

[code]

How it looks i

[2022-11-22 10:59] zzhanabek commented on #148
Hi, again.

I have a suggestion:
[code]
at https://github.com/ansible-collections/community.rabbitmq/blob/0a5173b01ac27be81d98d04a86c0a94869cf8408/plugins/modules/rabbitmq_plugin.py#L122

Rationale:
Saves idempotence in cases when plugins such as  `rabbitmq_management_agent`,  `rabbitmq_web_dispatch` provided to be enabled

--
Regards,
Zangar Zhanabek

[2022-11-23 02:56] Im0 commented on #148
@zzhanabek thank you for reporting and providing a suggested fix.  We will look to implement a fix in the next version.

[2022-11-23 03:48] Im0 commented on #148
@zzhanabek I've not yet been replicate the issue that you have been seeing.  I raised a PR with a bit more debugging output on the integration test and the results appeared as though idempotency worked fine.

The integration tests are visible here:  https://github.com/ansible-collections/community.rabbitmq/blob/main/tests/integration/targets/rabbitmq_plugin/tasks/tests.yml
Do they look similar to

[2022-11-23 04:11] zzhanabek commented on #148
Hello!
I could not get any output from `community.rabbitmq.rabbitmq_plugin`. I noticed, how binary called and reproduced python code, so by this way I've found: Clustered rabbitmq shows message `Listing plugins with pattern ".*" ...` in output when called via `rabbitmq-plugins list -E -m`, just like in python code `list_output = self._exec(['list', '-E', '-m'], True) `

[2022-11-23 04:16] zzhanabek commented on #148
My config, where I found this idempotence fail at plugins installation task
[code]
ansible tasks code:
[code]

[2022-11-23 09:51] Im0 commented on #148
@zzhanabek thanks for the additional information. I'm having a hard time identifying why you're seeing this issue and I'm not.  I'm wondering if it's playing up due to the clustering... we don't test in the integration testing against a cluster.

Before implementing your suggested fix I would really like to reproduce or understand what's causing the issue.

My plugins list returns this:
[code]

Is

[2022-11-24 05:56] zzhanabek commented on #148
@Im0
Hello!

I ran this module and shell command against 3 different environments. Differences in OSes, Rabbitmq version, cluster and standalone modes, plugins. All testing environments showed in output:
[code]
but version `rabbitmq-server-3.7.7-1.el7` showed nothing but actual list.
Idempotence tests failed in a case, where plugins list was mixed with implicitly enabled and explicitly enabled — m

[2022-11-25 00:40] Im0 commented on #148
@zzhanabek thanks for letting me know.  I'll close this issue now but please feel free to re-open if required.

[2022-11-25 00:40] #148 closed

[2022-11-29 11:01] ZimnyakovRS commented on #53
In my case, the problem was that I specified the hostname in uppercase in the inventory. In the module I used the inventory_hostname variable -
"node: "rabbit@{{ inventory_hostname }}" ".
After changing the upper case to the lower case in the hostname in the inventory, the module worked fine.